body{
    background-color: orange;
    color: white;
    font-family: 'Baloo', cursive;
}
header{

    text-align: center;
    font-size: 75px;
    border-radius: 25px;
    margin: 10px, 50px;
    padding: 20px;
    background-color: rgb(248, 221, 170)
}
button{
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    font-size:50px;
}
#blue{
    background-color:  rgb(64, 64, 182);
}
#red{
    background-color: rgb(235, 81, 81);
}
#ROCK{
    background-color: rgb(235, 81, 81);
}
#PAPER{
    background-color: rgb(72, 146, 72);
}
#SCISSORS{
    background-color: rgb(64, 64, 182);
}
#talkie{
    font-size:20px;
    background-color: rgb(72, 146, 72);
}
#chattext{
    overflow-y: scroll;
    height: 50px;
    font-size: 75px;
    border-radius: 25px;
    margin: 10px, 50px;
    padding: 20px;
    background-color: rgb(248, 221, 170)
}
footer{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 15px;
}
/* 
font-family: 'Paytone One', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Baloo', cursive; */